---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
interface Props {
  Description: string;
  Technologies: string[];
  Github_link?: string;
  Demo_link?: string;
  License: string;
  Img: ImageMetadata;
  Title: string;
  Release: Date;
}
const {
  Description,
  Technologies,
  Github_link,
  Demo_link,
  License,
  Img,
  Title,
  Release,
} = Astro.props;
import GetLicense from "./GetLicense";
---

<section>
  <div class="hero" transition:name={`project-bg-${Title}`}>
    <Image
      class="hero--image"
      loading="eager"
      src={Img}
      alt={`Imagen de portada del proyecto ${Title}`}
      widths={[400, 700, Img.width]}
      sizes=`(max-width: 480px) 400px, (max-width: 1280px) 700px, ${Img.width}px`
      transition:name={`project-${Title}`}
    />
    <div class="hero--information">
      <div transition:name={`project-desc-${Title}`}>
        {Description.split("\n").map((parrafo) => <p>{parrafo}</p>)}
      </div>
      <div class="hero--buttons">
        {
          Github_link && (
            <a
              class="button-text-icon-background-primary"
              href={Github_link}
              rel="external noopener noreferrer"
              target="_blank"
              aria-label="Ir al repositorio en GitHub"
            >
              Repositorio <Icon name="github_l" />
            </a>
          )
        }
        {
          Demo_link && (
            <a
              class="button-text-icon-background-accent"
              href={Demo_link}
              rel="external noopener noreferrer"
              target="_blank"
              aria-label="Ir a la página de demostración del proyecto"
            >
              Demostración <Icon name="play" />
            </a>
          )
        }
      </div>
      <br />
      <b class="text-primary">Tecnologías utilizadas</b>
      <ul transition:name={`project-technologies-${Title}`}>
        {
          Technologies.sort().map((tech) => (
            <li aria-label={`Tecnología: ${tech}`} title={tech}>
              <Icon name={`technologies/${tech}`} size={30} />
            </li>
          ))
        }
      </ul>
      <p>
        <strong class="text-accent">Fecha:</strong>
        {
          new Date(Release).toLocaleDateString("es-CO", {
            year: "numeric",
            month: "long",
            day: "numeric",
            timeZone: "America/Bogota",
          })
        }
      </p>
    </div>
  </div><br />
  <GetLicense
    License={License}
    Work_link={Github_link}
    Title={Title}
    Year={new Date(Release).getFullYear()}
  />
</section>

<style lang="scss">
  @use "../styles/components/_heroProject.scss";
</style>
