---
interface ProjectData {
  Title: string;
  Short_description: string;
  Cover_path: ImageMetadata;
  Technologies: string[];
}

/* -- Images -- */
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

interface Props {
  slug: string;
  data: ProjectData;
}
const { slug, data } = Astro.props;
---

<a
  href={`/proyectos/${slug}`}
  class="project-card"
  aria-label={`Ir a la página del proyecto: ${data.Title}`}
>
  <Image src={data.Cover_path} alt={data.Title} width="300" />
  <strong>{data.Title}</strong>
  <small>{data.Short_description}</small>
  <span>
    {
      data.Technologies.sort().map((tech: string) => (
        <Icon name={`technologies/${tech}`} title={tech} />
      ))
    }
  </span>
</a>
<style lang="scss">
  @use "../styles/components/projectCardIndex";
</style>
