---
import { Image } from "astro:assets";
import sena from "../assets/logos/logo_sena.webp";
import ucompensar from "../assets/logos/logo-ucompensar.webp";
const { Data } = Astro.props;
const { Image_path, Title, Duration, Location, Description } = Data;
const logos = {
  logo_ucompensar: ucompensar,
  logo_sena: sena,
};
const logo: ImageMetadata = logos[Image_path as keyof typeof logos];
---

<article class="studyCard">
  <Image class="studyCard-logo" alt={`${Location} logo`} src={logo} />
  <div>
    <p>
      <strong>{Title}</strong>
      <br />
      <span class="text-primary">{Location}</span><br />
      <small>{Duration}</small>
    </p>

    <p>
      {Description}
    </p>
  </div>
</article>

<style lang="scss">
  @use "../styles/components/_studyCard.scss";
</style>
